{% extends "base.html" %}

{% block content %}
<h1>Admin</h1>
<table>
  <tr>
    <th>Repo</th>
    <th>Commit</th>
    <th>Created</th>
    <th>State</th>
    <th>Status</th>
    <th>Time</th>
  </tr>
  {% for (run_id, run) in runs %}
  <tr>
    <td><a href={{ run.repository.repo_url() }}>{{ run.repository.owner }}/{{ run.repository.name }}</a></td>
    <td><a href={{ run.commit_url() }}>{{ run.commit }}</a></td>
    <td>{{ run.created_at }}</td>
    <td>{{ run.state() }}</td>
    <td>
      {% match run.finished %}
      {% when Some with (finished) %}
      {{ finished.status }}
      {% when None %}
      {% endmatch %}
    </td>
    <td>
      {% match run.finished %}
      {% when Some with (finished) %}
      {{ finished.execution_time }}
      {% when None %}
      {% endmatch %}
    </td>
    <td><a href="/run/{{run_id}}">View</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}