<!DOCTYPE html>
<html>

<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/temporal-polyfill/0.3.0/global.min.js"
    integrity="sha512-4V50NWjNLKBH60KkunQBWbMwv4pA5NIstr1F2Ossnb691knDWKYaHpGvS1bEyIupZnUnToVz5UQSZM/HIlj/tQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/assets/script.js" defer></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css">
  <link rel="stylesheet" href="/assets/style.css">
  <title>{% block title %}Rain CI{% endblock %}</title>
  {% block head %}{% endblock %}
</head>

<body>
  <nav class="nav">
    <span class="nav-left">
      <a href="/">Home</a>
      <a href="/repos">Repos</a>
      <a href="/run">Runs</a>
    </span>
    <span class="nav-right">
      <a href="/profile">
        <img src={{user.0.avatar_url}} width="16px" height="16px">
        <span>{{user.0.name}}</span>
      </a>
    </span>
  </nav>
  <main id="content">
    {% block content %}
    <p>
      There's nothing here 😞.
    </p>
    <p>
      <a href="/">Home</a>
    </p>
    {% endblock %}
  </main>
  <footer>
    Rain {{rain_version}}
  </footer>
</body>

</html>