<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/temporal-polyfill/0.3.2/global.min.js"
    integrity="sha512-DJ6vZqFSLLDm1A3MDb3hLETzUS7oT8W3HPXUhTXLA5+g9TxhAry9fhHqi6RpiKKs901QsXwTZ00GA62o6WCGjw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/assets/script.js" defer></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css">
  <link rel="stylesheet" href="/assets/style.css">
  <title>{% block title %}Rain CI{% endblock %}</title>
  {% block head %}{% endblock %}
</head>

<body>
  <nav class="nav">
    <span class="nav-left">
      <a href="/">Home</a>
      <a href="/repos">Repos</a>
      <a href="/run">Runs</a>
    </span>
    <span class="nav-right">
      <a href="/profile">
        <img src={{base.user.avatar_url()}} width="16px" height="16px">
        <span>{{base.user.display_name()}}</span>
      </a>
    </span>
  </nav>
  <main id="content">
    {% block content %}
    <p>
      There's nothing here 😞.
    </p>
    <p>
      <a href="/">Home</a>
    </p>
    {% endblock %}
  </main>
  <footer>
    Rain {{base.rain_version}}
  </footer>
</body>

</html>