{% extends "base.html" %} {% block content %}
<h1>Repo {{ repo_id }}</h1>
<table>
  <tr>
    <td>ID</td>
    <td>{{ repo_id }}</td>
  </tr>
  <tr>
    <td>Host</td>
    <td>{{ repo.host }}</td>
  </tr>
  <tr>
    <td>Owner</td>
    <td>{{ repo.owner }}</td>
  </tr>
  <tr>
    <td>Name</td>
    <td>{{ repo.name }}</td>
  </tr>
  <tr>
    <td>Url</td>
    <td>
      <a href="{{ repo.external_repo_url() }}">{{ repo.owner }}/{{ repo.name }}</a>
    </td>
  </tr>
  <tr>
    <td>Actions</td>
    <td>
      <form method="post" name="create_run" action="{{ repo_id }}/run">
        <table>
          <tr>
            <td>
              <label for="commit">
                Reference:
              </label>
            </td>
            <td>
              <input id="commit" name="commit" value="HEAD" />
            </td>
          </tr>
          <tr>
            <td>
              <label for="target">
                Exec declaration:
              </label>
            </td>
            <td>
              <input id="target" name="target" value="ci" />
            </td>
          </tr>
          <tr>
            <td>
              <button>Create Run</button>
            </td>
          </tr>
        </table>
      </form>
    </td>
  </tr>
</table>
<h2>Runs for Repo {{ repo_id }}</h2>
<span>{{paged_runs.full_count}} results, page {{paged_runs.page.get()}} showing {{paged_runs.showing()}}</span>
{% let runs = paged_runs.elements %}
{% include "runs_table.html" %}
{% endblock %}