{% extends "base.html" %}

{% block content %}
<h1>Run {{ run_id }}</h1>
<table>
  <tr>
    <td>ID</td>
    <td>{{ run_id }}</td>
  </tr>
  <tr>
    <td>Repository</td>
    <td><a href="/repo/{{run.repository.id}}">{{ run.repository.owner }}/{{ run.repository.name }}</a></td>
  </tr>
  <tr>
    <td>Commit</td>
    <td><a href={{ run.commit_url() }}>{{ run.commit }}</a></td>
  </tr>
  <tr>
    <td>Created At</td>
    <td>{{ run.created_at | timestamp }}</td>
  </tr>
  <tr>
    <td>State</td>
    <td>{{ run.state() }}</td>
  </tr>
  <tr>
    <td>Status</td>
    <td>
      {% match run.finished %}
      {% when Some with (finished) %}
      {{ finished.status }}
      {% when None %}
      {% endmatch %}
    </td>
  </tr>
  <tr>
    <td>Execution Time</td>
    <td>
      {% match run.finished %}
      {% when Some with (finished) %}
      {{ finished.execution_time | duration }}
      {% when None %}
      {% endmatch %}
    </td>
  </tr>
</table>
{% match run.finished %}
{% when Some with (finished) %}
<h3>Output</h3>
<pre>
  <code>
    {{ finished.output }}
  </code>
</pre>
{% when None %}
{% endmatch %}
{% endblock %}