{% extends "base.html" %}

{% block content %}
<h1>Run {{ run_id }}</h1>
<table>
  <tr>
    <td>ID</td>
    <td>{{ run_id }}</td>
  </tr>
  <tr>
    <td>Source</td>
    <td>{{ run.source }}</td>
  </tr>
  <tr>
    <td>Repository</td>
    <td><a href={{ run.repository.repo_url() }}>{{ run.repository.owner }}/{{ run.repository.name }}</a></td>
  </tr>
  <tr>
    <td>Commit</td>
    <td><a href={{ run.commit_url() }}>{{ run.commit }}</a></td>
  </tr>
  <tr>
    <td>Created At</td>
    <td>{{ run.created_at }}</td>
  </tr>
  <tr>
    <td>State</td>
    <td>{{ run.state() }}</td>
  </tr>
  <tr>
    <td>Status</td>
    <td>
      {% match run.finished %}
      {% when Some with (finished) %}
      {{ finished.status }}
      {% when None %}
      {% endmatch %}
    </td>
  </tr>
  <tr>
    <td>Execution Time</td>
    <td>
      {% match run.finished %}
      {% when Some with (finished) %}
      {{ finished.execution_time }}
      {% when None %}
      {% endmatch %}
    </td>
  </tr>
</table>
<h3>Output</h3>
<pre>
  <code>
    {% match run.finished %}
    {% when Some with (finished) %}
    {{ finished.output }}
    {% when None %}
    {% endmatch %}
  </code>
</pre>
{% endblock %}